@import "~normalize.css/normalize.css";
@import "~videojs/dist/video-js/video-js.css";

// Colors
// $bg-color: rgba(69,217,253,1);
// $color: rgba(34,34,34,1);
// $color-40: rgba(34,34,34,0.4);
$bg-color: rgba(241,64,75,1);
$color: rgba(244,245,249,1);
$color-40: rgba(244,245,249,0.4);

// Fonts
$sans: sans-serif;

// Sizes
$small: 400px;
$medium: 768px;

@mixin font() {
  font-family: sans-serif;
  font-weight: 300;
}

html, body {
  background: $bg-color;
  color: $color;
  @include font();
}

@media (max-width: $small) {
  html {
    text-align: center;
  }
}

#app {
  width: 90%;
  max-width: $medium;
  margin: auto;
}

#search {
  font-size: 34px;
  line-height: 44px;
}

#view {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count: 3;
  column-gap: 0;
}

#view > div {
  width: 100% !important;
  height: auto !important;
  position: relative;

  video {
    width: 100%;
  }
}

@media (max-width: $medium) {
  #view {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: $small) {
  #view {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}


input {
  width: 100%;
  max-width: 350px;
  background: 0 0;
  border: none;
  border-bottom: 1px dotted $color-40;
  padding: 5px 0;
  border-radius: 0;
  color: $color;
  text-align: center;

  &:focus {
    outline: 0;
    border-bottom-color: $color;
  }
}

::-webkit-input-placeholder {
  color: $color-40;
}

:-moz-placeholder { /* Firefox 18- */
  color: $color-40;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $color-40;
}

:-ms-input-placeholder {
  color: $color-40;
}

.nowrap {
  white-space: nowrap;
}

.vjs-control-bar, .vjs-caption-settings, .vjs-error-display, .vjs-loading-spinner, .vjs-poster {
  display: none !important;
}

.vjs-error .vjs-error-display {
  display: none;
}
.vjs-default-skin.vjs-has-started .vjs-big-play-button {
  display: block !important;
}
