@import "~normalize.css/normalize.css";

// Colors
//$bg-color: rgba(69,217,253,1);
// $color: rgba(34,34,34,1);
// $color-40: rgba(34,34,34,0.4);
$bg-color: rgba(241,64,75,1);
$color: rgba(244,245,249,1);
$color-40: rgba(244,245,249,0.4);

// Fonts
$sans: sans-serif;

@mixin font() {
  font-family: sans-serif;
  font-weight: 300;
}

html, body {
  background: $bg-color;
  color: $color;
  @include font();
}

#app {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

#search {
  font-size: 34px;
  line-height: 44px;
}

#view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;

  .placeholder {
    height: 350px;
    width: 400px;
  }

}

#view > * {
  flex: none;
  border: solid green 2px;
}


input {
  width: 350px;
  background: 0 0;
  border: none;
  border-bottom: 1px dotted $color-40;
  padding: 5px 0;
  border-radius: 0;
  color: $color;
  text-align: center;

  &:focus {
    outline: 0;
    border-bottom-color: $color;
  }
}

::-webkit-input-placeholder {
   color: $color-40;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-40;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-40;
}

:-ms-input-placeholder {  
   color: $color-40;
}